.convertor_main {
    width: auto;
    height: 550px;
    background-color: #F6F7FF;
    font-family: 'Roboto';
    font-style: normal;
}

.convertor_content {
    font-family: 'Roboto';
    margin: 80px 230px;
    width: 950px;
    height: 450px;
    position: absolute;
    background-color: #fff;
}

.convertor_content_item {
    padding-top: 53px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    
}
.convertor_operetion_date {
    color: #333333;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    margin-top: 5px;
    padding-left: 20px;

}


.convertor_operetion_sum {
    padding-left:25px;
    color:#333333;
    font-weight: 600;
    margin-top: 5px;
    font-size: 15px;
    line-height: 130%;
}

.converted_operetion_sum {
    padding-left: 25px;
    margin-top: 5px;
    color:#333333;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
}

/*Story stuff*/
.convertor_story_container {
    font-style: normal;
    font-family: 'Roboto';
    background-color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    width: 400px;
    height: 30px;
    margin-left: 30px;
    display: inline-block;
    
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    background-color: #fff;
}

.convertor_story_content{
    margin-left: 230px;
        margin-top: 80px;
        width: 970px;
        height: 440px;
        background-color: #F6F7FF;
}
.convertor_story_item{
padding-top: 40px;
    margin-left: 70px;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
}

.convertor_story_elem{
    display: flex;
   text-align: center;
    padding-top: 0px;
}
.arrow_img{
    padding-left: 15px;
        height: 15px;
        padding-top: 5px;
}

.i_have,
.want_have {
    padding-left: 130px;
    color: #707C87;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    padding-top: 30px;
}


.i_have_input,
.want_have_input {
    text-align: center;
    width: 170px;
    height: 35px;

}


.i_have_select,
.want_have_select {
    text-align: center;
    margin-left: 10px;
    width: 70px;
    height: 38px;
}


.want_have {
    margin-left: 430px;
    margin-top: -150px;
}


.exchange_img {
    position: absolute;
    margin-left: 450px;
    margin-top: -30px;
}

.save_results {
    margin-left: 130px;
    margin-top: 50px;
}


.save_button {
    cursor: pointer;
    background-color: blue;
    width: 170px;
    border: 1px solid;
    margin-top: 150px;
    margin-left: 345px;
    height: 65px;
    color: #fff;
}

.date_input {
    padding-left: 15px;
    width: 155px;
    height: 38px;
}

.save_story_btn {
    margin-left: 300px;
    width: 150px;
    height: 50px;
    background-color: blue;
    border: 1px solid;
    color: #fff;
    position: absolute;
    margin-top: 47px;
    cursor: pointer;
    border-radius: 5px;
}
.clear_story_btn {
    margin-left: 540px;
    width: 150px;
    height: 50px;
    background-color: blue;
    border: 1px solid;
    color: #fff;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -70px;

}






.calendar {
    margin-top: 150px;
    width: 155px;
    height: 38px;
    padding: 0 15px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    color: #707C87;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-top: 50px;
    margin-left: 130px;
}
.rates-list {
    list-style: none;
   margin-left: 70px;
   background-color:rgb(230, 247, 249);
   width: 250px;
   height: 0px;
  
}


.rates-list-container{
    width: 70%;
    margin-top: 40px;
    height: 200px;
    justify-content: center;
    margin-left: 200px;
    display: flex;
    border: 1px solid rgb(24, 178, 175);
    background-color: rgb(230, 247, 249);
    border-radius: 8px;
    
}
.rates-elem{
    padding-top: 10px;
}

.rates-elem-container{
    width: 450px;
    height: 130px;
    background-color: #F6F7FF;
    margin-top: 60px;
    margin-left: -380px;;
}

.rates-list-title{
 
}
